{% extends 'base.html.twig' %}

{% block title %}Conditions Générales d'utilisation{% endblock %}

{% block body %}

{{ include("partials/title_section.html.twig", {'name':'Conditions Générales d\'utilisation'}) }}

<div class="container">
    <h1 class="text-center">Conditions Générales d'utilisation du site</h1>
        <h2 class="mt-5">
            Politique de confidentialité
        </h2>
 
        <h3 class="mt-5">
            Introduction
        </h3>
        <p class="text-justify ml-2">
            Devant le développement des nouveaux outils de communication, il est nécessaire de porter une attention particulière à la protection de la vie privée. C’est pourquoi, nous nous engageons à respecter la confidentialité des renseignements personnels que nous collectons.
        </p>

        <h3>
            Collecte des données        
        </h3>
        <p class="text-justify ml-2">
            Il n’y a pas de collecte automatique des données personnelles listées dans le chapitre ci-dessous intitulé « Nature des données personnelles ».
            Les données collectées pour les besoins de Vélos Buis sont saisies par l’utilisateur du site www.velosbuis.com, de son plein gré, via les formulaires de contact et/ou de réservation.
        </p>
        <h3>
        Collecte des données par un prestataire
        </h3>
        <p class="text-justify ml-2">
            Nous collaborons avec des fournisseurs tiers. Par exemple avec la société Stripe pour le paiement en ligne. Certaines données peuvent être demandées par ce prestataire à l’occasion d’un paiement en ligne. Ces données sont sécurisées sous la responsabilité de ce prestataire et gérées suivant sa propre politique de confidentialité Privacy Policy – France | Stripe | France
            A noter que tous les paiements peuvent être effectués en boutique. 
        </p>

        <h3>
        Nature des données personnelles 
        </h3>
        <p class="text-justify ml-2">
            Les données personnelles collectées par le site sont :
                <ul class="ml-5">
                    <li>
                    Nom
                    </li>
                    <li>
                    Prénom
                    </li>
                    <li>
                    Adresse postale
                    </li>
                    <li>
                    Adresse électronique
                    </li>
                    <li>
                    n° de téléphone
                    </li>
                    <li>
                    Dates de début et de fin de prestation
                    </li>
                    <li>
                    Liste de matériel réservé
                    </li>
                </ul>
        </p>

        <h3>
        Utilisation des données
        </h3>
            <p class="text-justify ml-2">
                Vos renseignements personnels sont collectés par Vélos Buis par le biais de formulaire pour tout ou partie des finalités suivantes :
                <ul class="ml-5">
                    <li>
                    vous contacter
                    </li>
                    <li>
                        établir votre devis et/ou votre facture
                    </li>
                    <li>
                        préparer le matériel réservé
                    </li>
                    <li>
                        réserver le service demandé
                    </li>
                    <li>
                        vous rappeler une date ou un rendez-vous
                    </li>
                    <li>
                        vous informer de nouveaux services ou d’opportunités commerciales exclusivement proposées par le site
                    </li>
                    <li>
                        Etablir des statistiques non nominatives à usage exclusif de Vélos Buis (par exemple: taux de location de tel ou tel matériel)
                    </li>
                </ul>
        </p>
        <h3>
            Droit d’opposition et de retrait
        </h3>
            <p class="text-justify ml-2">
                Nous nous engageons à vous offrir un droit d’opposition et de retrait quant à vos renseignements personnels.
                Le droit d’opposition s’entend comme étant la possibilité offerte aux internautes de refuser que leurs renseignements personnels soient utilisées à certaines fins mentionnées lors de la collecte. 
                Le droit de retrait s’entend comme étant la possibilité offerte aux internautes de demander à ce que leurs renseignements personnels ne figurent plus, par exemple, dans une liste de diffusion.
        
                Pour pouvoir exercer ces droits, vous pouvez :
                Faire une demande par courrier postal à l’adresse :  265 rue de la magdeleine 01160 Varambon
                Faire une demande par courriel :  contact@alexis-rigoulot.com
            </p>

        <h3>
            Droit d’accès
        </h3>
            <p class="text-justify ml-2">
                Nous nous engageons à reconnaître un droit d’accès et de rectification aux personnes concernées désireuses de consulter, modifier, voire radier les informations les concernant.
            </p>
 
        <h3>
            L’exercice de ce droit se fera : 
        </h3>
            <p class="text-justify ml-2">
                Par courrier postal à l’adresse :  265 rue de la magdeleine 01160 Varambon
                Par courriel :  contact@alexis-rigoulot.com
            </p>
 
        <h3>
        Sécurité
        </h3>
            <p class="text-justify ml-2">
                Les renseignements personnels que nous collectons sont conservés dans un environnement sécurisé. Les personnes travaillant pour nous sont tenues de respecter la confidentialité de vos informations.
            </p>
 
        <h3>
        Pour assurer la sécurité de vos renseignements personnels, nous avons recours aux mesures suivantes : 
        </h3>
            <p class="text-justify ml-2">
                Gestion des accès – personne autorisée
                Sauvegarde informatique
                Identifiant / mot de passe
                Nous nous engageons à maintenir un haut degré de confidentialité en intégrant les dernières innovations technologiques permettant d’assurer la confidentialité de vos transactions. Toutefois, comme aucun mécanisme n’offre une sécurité totale, une part de risque est toujours présente lorsque l’on utilise Internet pour transmettre des renseignements personnels.
            </p>
 
        <h3>
        Législation
        </h3>
            <p class="text-justify ml-2">
                Nous nous engageons à respecter les dispositions législatives énoncées dans :
            </p>

            <p class="mb-5">
                Législation: <a href="https://www.cnil.fr/">     
                https://www.cnil.fr/
                </a> 
            </p>
 
   
</div>
{% endblock %}
